ul {
    margin-left: 0;
    padding: 0;
}
li {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 60px;
}
.too-short li:first-child{
    background: #F00;
}
.weak li:first-child, .weak li:nth-child(2) {
    background: #F90;
}
.good li {
    background: #FF0
}
.good li:last-child {
    background: #DDD
}
.strong li {
    background: #9F0;
}
p {
    font-size: 12px;
}